body{background-color: green}

#wrapper{width: 700px; height: 500px;
margin:0 auto;}

#header{background-color: red; width: 700px;
text-align: center; height: 50px;
font-weight: bold;}

#nav{background-color: pink; float:left;width: 200px; height: 50px;font-weight: bold;}
#nav2{background-color: orange; float: left; width: 500px; height: 50px;font-weight: bold;}
#content {background-color: blue;float:left;width: 700px; height: 400px;font-weight: bold;}

#footer {background-color: yellow; float:left;width: 700px;height: 40px; clear: left; font-weight: bold;}
